<ion-app>
<ion-header *ngIf="!this.router.url.includes('login')">
  <ion-toolbar class="topBar">
    <ion-title class="titleContainer titleText" (click)="goHome()" >
      UMad?
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-router-outlet></ion-router-outlet>
</ion-content>

<!-- 
<ion-tabs *ngIf="doneInit">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home?id={{id}}">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="eventCreation?id={{id}}">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
</ion-app>


  
<!-- <div class="topBar" *ngIf="!this.router.url.includes('login')">
  <div class="titleContainer">
      <div (click)="goHome()" class="titleText"> UMad?</div>
  </div>
  <ion-icon  (click)="goHome()" name="home-outline"></ion-icon>
  <ion-icon (click)="disconnect()" name="ban-outline"></ion-icon>
  <ion-icon (click)="disconnect()" class="fa-solid fa-unlink"> aaa</ion-icon> 
</div> -->