.marker {
    position: absolute;
    top: 20px;
    text-align: center;
  }
  
  .marker.start {
    left: 0;
  }
  
  .marker.middle {
    left: 50%;
  }
  
  .marker.end {
    right: 0;
  }

.progress-bar-container{
    /* padding : 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px; /* adjust this value as needed */
    background: -webkit-linear-gradient(0deg, red 0%, yellow 50%, green 100%);
  }
  
.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--progress);
    height: 100%;
    width: 1%;
    background: black;
  }

.button-separator {
    margin-left: 10px;
    margin-right: 10px;
}