.eventBar {
    color: var(--color-text);
    font-size: 30px;
    text-align: center;
    overflow: hidden;
  }

app-event{
  padding: 10px;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: top; 
}